*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}

body{
}

.gridBC{
    column-gap: 10px;
    display: grid;
    margin: 5%;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    justify-content: center;
    padding: 3% 0 3% 0;
    gap: 30px 0;
}

.videoBg{
    
    z-index: -1000;
    position: fixed;
    object-fit: fill;
    right: 0;
    bottom: 0;
    
}

#top{
    display: grid;
    grid-template-columns: 45% 45%;
    grid-template-rows: 95%;
    display: flex;
    margin: 0 15px 0 15px;
    gap: 60px 7px;
    border-radius: 25px;
    padding: 25px 10px 25px 10px;
    backdrop-filter: blur(1px);
    box-shadow: 0px 3px 17px 5px rgba(0, 0, 0, 0.185);
}

#pp{
    border-radius: 100%;
    width: 100px;
    padding: 0 0 0 2px;
}

.ppText{
    margin: auto 0 auto 0;
}

h1{
    font-size: 15px;
}

p{
    font-size: 12px;
    font-style: italic;
}

#mid{
    display: grid;
    grid-template-columns: 90%;
    grid-template-rows: auto;
    justify-content: center;
    gap: 7px 0;
}

a{
    text-decoration: none;
}

.faixa{
    display: flex;
    border-radius: 25px;
    margin: auto;
    width: 250px;
    backdrop-filter: blur(1px);
    box-shadow: 0px 3px 17px 5px rgba(0, 0, 0, 0.185);
}

h2{
    font-size: 30px;
    color: black;
    font-weight: 100;
    margin: auto auto auto 0;
}

a img{
    margin: auto auto auto 10px;
    width: 55px;
}

.devHolder{
    backdrop-filter: blur(10px);
    margin: auto;
}

.devHolder h3{
    font-size: 15px;
    text-align: center;
    color: rgba(255, 255, 255, 0.24);
}