*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

/*HEADER*/

header{
    box-shadow: 1px 5px 10px 5px rgba(221, 194, 40, 0.452);
}


.cabeçalho{
    display: flex;
    justify-content: center;
    padding-bottom: 33.188px;
    padding-top: 33px;
    box-shadow: 2px 2px 0px 0px #d8c55b;;
    background-color: crimson;    
}

.pp{
    border-radius: 50%;
    margin-right: 30px;
}

.perTex{
    text-align: center;
    padding-top: 80px;
}

.perTex p{
    font-style: italic;
}

/*BODY*/

body{
    background: #1E3F5A;
}

/*INFOS*/

.container{
    margin-top: 95px;
}

.faixa{
    background-color: crimson;
    padding-left: 22%;
    padding-right: 15%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 7%;
    margin-bottom: 20px;
    box-shadow: 1px 5px 10px 5px rgba(0, 0, 0, 0.452);
}

.content1{
    display: flex;
    overflow: hidden;
    transition: 1s;
}

.content1 img{
    margin-left: 22%;
    margin-right: 20px;
    object-fit: contain;
    width: 30px;
}

.content1 h2{
    font-size: 20px;
    font-weight: 400;
    margin-top: 4px;
    color: #FFDF00;
}

a{
    text-decoration-line: none;
}

button{
    background: crimson;
    border: none;
    text-align: left;
}

#email{
    font-size: large;
}

/*END*/

.dev p{
    text-align: center;
    margin-top: 175px;
    font-style: italic;
    font-weight: 100;
    color: #d8c55b;
}

/*ANIMAÇÂO*/

.content1:hover{
    transform: translate(3%);
    cursor: pointer;
    box-shadow: 0px 0px 950px 0.2px #FFDF00;
    border-radius: 15%;
}
